network:
    ethernets:
{% for inet in netplan_interfaces %}
      {{ inet.interface }}:
{% if 'addresses' in inet %}
        addresses:
{% for addr in inet.addresses %}
        - {{ addr }}
{% endfor %}
{% if 'gateway4' in inet %}
        gateway4: "{{ inet.gateway4 }}"
{% endif %}
{% if 'gateway6' in inet %}
        gateway6: "{{ inet.gateway4 }}"
{% endif %}
{% if 'nameservers' in inet %}
        nameservers:
          addresses: [ {% for ns in inet.nameservers %}"{{ ns }}"{{ ", " if not loop.last else " " }}{% endfor %} ]
{% endif %}
        dhcp4: no
{% else %}
        dhcp4: {{ "yes" if inet.dhcp4|default(False)|bool else "no" }}
{% endif %}       
        dhcp6: {{ "yes" if inet.dhcp6|default(False)|bool else "no" }}
{% if 'accept_ra' in inet %}
        accept-ra: {{ "yes" if inet.accept_ra|bool else "no" }}
{% endif %}
{% if 'routes' in inet %}
        routes:
{% for route in inet.routes %}
        - to: {{ route.to }}
          via: {{ route.via }}
          metric: {{ route.metric|default(100) }}
{% endfor %}
        
{% endif %}
        match:
            macaddress: {{ inet.mac }}
        mtu: 1500
        set-name: {{ inet.interface }}
{% endfor %}
    version: 2
{% if netplan_interfaces_vlan|length > 0 %}
    vlans:
{% for inet in netplan_interfaces_vlan %}
      {{ inet.interface }}:
{% if 'addresses' in inet %}
        addresses:
{% for addr in inet.addresses %}
        - {{ addr }}
{% endfor %}
        id: "{{ inet.id }}"
        link: "{{ inet.link }}"
{% if 'nameservers' in inet %}
        nameservers:
          addresses: [ {% for ns in inet.nameservers %}"{{ ns }}"{{ ", " if not loop.last else " " }}{% endfor %} ]
{% endif %}
        dhcp4: no
{% else %}
        dhcp4: {{ "yes" if inet.dhcp4|default(False)|bool else "no" }}
{% endif %}        
        dhcp6: {{ "yes" if inet.dhcp6|default(False)|bool else "no" }}
{% if 'accept_ra' in inet %}
        accept-ra: {{ "yes" if inet.accept_ra|bool else "no" }}
{% endif %}

{% if 'routes' in inet %}
        routes:
{% for route in inet.routes %}
        - to: {{ route.to }}
          via: {{ route.via }}
          metric: {{ route.metric|default(100) }}
{% endfor %}
        
{% endif %}
        mtu: 1500
{% endfor %}
{% endif %}
