[sshd]
enabled = {{ fail2ban_sshd_enabled }}
port = ssh
filter = sshd

{% if fail2ban_sshd_ignorebycountry is defined %}
ignorecommand = /etc/fail2ban/filter.d/ignorecommands/geoip-check.sh <ip> {{ fail2ban_sshd_ignorebycountry }}
{% endif %}
ignoreip = {{ fail2ban_sshd_ignoreip }}  

# the length of time between login attempts for maxretry. 
findtime = {{ fail2ban_sshd_findtime }} 
# attempts from a single ip before a ban is imposed.
maxretry = {{ fail2ban_sshd_maxretry }}

# the number of seconds that a host is banned for.
bantime = {{ fail2ban_sshd_bantime }}